In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv(r'C:\Users\amrit\Downloads\bitstampUSD_1-min_data_2012-01-01_to_2018-11-11.csv')

In [2]:
data.dropna(inplace=True)

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
data

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
3603130,1541894040,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
3603131,1541894100,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
3603132,1541894160,6348.54,6349.01,6348.54,6349.01,0.011729,74.466671,6348.936090
3603133,1541894220,6349.01,6349.01,6349.01,6349.01,0.068436,434.503642,6349.010000
3603135,1541894340,6349.17,6349.32,6349.17,6349.32,0.038261,242.927410,6349.214148

In [5]:
data.shape

(2388829, 8)

In [6]:
data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
478,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
547,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
548,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1224,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2388829 entries, 0 to 3603135
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 164.0 MB

In [8]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'], unit='s')
data['Timestamp'] = pd.to_datetime(data['Timestamp']).dt.to_period('m')
data.set_index(data['Timestamp'], inplace=True)
data.drop(['Timestamp'],axis=1,inplace=True)
data=data.to_timestamp()

In [9]:
data

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-01,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
2011-12-01,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
2011-12-01,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
2011-12-01,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
2012-01-01,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...
2018-11-01,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
2018-11-01,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
2018-11-01,6348.54,6349.01,6348.54,6349.01,0.011729,74.466671,6348.936090
2018-11-01,6349.01,6349.01,6349.01,6349.01,0.068436,434.503642,6349.010000
2018-11-01,6349.17,6349.32,6349.17,6349.32,0.038261,242.927410,6349.214148

In [10]:
data=data.reset_index()

In [11]:
data

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-01,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,2011-12-01,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
2,2011-12-01,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
3,2011-12-01,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
4,2012-01-01,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
...,...,...,...,...,...,...,...,...
2388824,2018-11-01,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
2388825,2018-11-01,6348.54,6348.54,6348.54,6348.54,0.007997,50.769274,6348.540000
2388826,2018-11-01,6348.54,6349.01,6348.54,6349.01,0.011729,74.466671,6348.936090
2388827,2018-11-01,6349.01,6349.01,6349.01,6349.01,0.068436,434.503642,6349.010000
2388828,2018-11-01,6349.17,6349.32,6349.17,6349.32,0.038261,242.927410,6349.214148

In [12]:
data['day']=pd.to_datetime(data['Timestamp'],format='%d-%m-%Y').dt.day
data['month']=pd.to_datetime(data['Timestamp'],format='%d-%m-%Y').dt.month
data['year']=pd.to_datetime(data['Timestamp'],format='%d-%m-%Y').dt.year

In [13]:
data.drop(['Timestamp'],axis=1,inplace=True)

In [14]:
data.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,day,month,year
0,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000,1,12,2011
1,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000,1,12,2011
2,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411,1,12,2011
3,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000,1,12,2011
4,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000,1,1,2012

In [15]:
x=data.drop(['Weighted_Price'],axis=1)
y=data.Weighted_Price

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [17]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=0,test_size=0.2)

In [18]:
print(len(xtrain))
print(len(xtest))
print(len(ytrain))
print(len(ytest))

1911063
477766
1911063
477766

In [19]:
model=LinearRegression()

In [20]:
model.fit(xtrain,ytrain)

LinearRegression()

In [21]:
model.score(xtest,ytest)

0.9999995046014615

In [22]:
model.score(xtrain,ytrain)

0.9999994939253865

In [23]:
model.predict([[6349.17,6349.32,6349.17,6349.32,0.038261,242.927410,1,11,2018]])

array([6349.3774869])

In [24]:
y.tail(3)

2388826    6348.936090
2388827    6349.010000
2388828    6349.214148
Name: Weighted_Price, dtype: float64

In [25]:
x.tail(3)

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),day,month,year
2388826,6348.54,6349.01,6348.54,6349.01,0.011729,74.466671,1,11,2018
2388827,6349.01,6349.01,6349.01,6349.01,0.068436,434.503642,1,11,2018
2388828,6349.17,6349.32,6349.17,6349.32,0.038261,242.927410,1,11,2018

In [26]:
y_pred=model.predict(xtest)

In [27]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,explained_variance_score
from math import sqrt

In [28]:
evs=explained_variance_score(ytest,y_pred)
print('EVS:',evs)
mae=mean_absolute_error(ytest,y_pred)
print('MAE:',mae)
mse=mean_squared_error(ytest,y_pred)
print('MSE:',mse)
rmse=sqrt(mse)
print('RMSE:',rmse)

EVS: 0.9999995046037956
MAE: 0.8929247390941935
MSE: 6.530596069674567
RMSE: 2.5555030952191324

In [29]:
from sklearn import metrics

metrics.r2_score(ytest,y_pred)

0.9999995046014615

# save it

In [32]:
import pickle
file=open('bitcoin.pkl','wb')
pickle.dump(model,file)

In [33]:
models=open('bitcoin.pkl','rb')
forest=pickle.load(models)

In [34]:
y_prediction=forest.predict(xtest)

In [35]:
metrics.r2_score(ytest,y_prediction)

0.9999995046014615